.about-us-page{
    .page-content{
        .content-block{
        	margin-top: 0px;
        	margin-bottom: 0px;
            .content-block-inner{
                text-align: center;
                color: white;
                &:after, &:before{
                	display:none;
                }

                .logo{
                	background: transparent url("../img/logo.png") no-repeat scroll center center / cover;
					width: 40vw;
					height: 40vw;
					margin: 0 auto;
                }
                .description{
                    text-align: left;
                }
            }
        }
    }
}