.appointment-defaults-page{
    .navbar{
        .navbar-inner{
            .right{
                .a.save-appointment-defaults{
                    
                }
            }
        }
    }
    .page-content{
        .content-block-title{
            color: white;
            .label-switch{
                height: 20px;
            }
        }
        .content-block{
            &:before, &:after{
                display: none;
            }
            .row{
                .week-chips{
                    margin: 0 auto;
                    .chip{
                        padding: 0px;
                        height: 42px;
                        width: 42px;
                        line-height: 42px;
                        background: none;
                        .chip-media{
                            margin: 0 auto;
                            height:38px;
                            width:38px;
                        }
                        &.selected{

                            .chip-media{
                                border: solid 2px;  
                            }
                        }
                    }
                }
                &.clock-current-section{
                    .row{
                        .current-time-label{
                            text-align: center;
                            font-size: 7vw;
                            color: white;
                        }
                        .current-hour{
                        }
                        .current-min{
                        }
                    }
                }
                &.clock-bottom-section{
                    .button{
                        border-bottom-left-radius: 15px;
                        border-bottom-right-radius: 15px;
                        border-top-left-radius: 0px;
                        border-top-right-radius: 0px;
                        font-size: 6vw;
                    }
                }
                &.clock-upper-section{
                    .button{
                        border-top-left-radius: 15px;
                        border-top-right-radius: 15px;
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                        border-bottom: solid 1px rgba(255, 255, 255, 0.25);
                        font-size: 6vw;
                    }
                }
            }
        }
    }
}