.contact-info-page{
	.page-content{
		color: white;
		.content-block-title{
			color: white;
		}
		.list-block{
			background-color: rgba(225, 230, 234, 0);
			ul{
				li{
					.item-content{
						color: white;
						.item-inner{
							.item-title{
								color:white;
							}
							.item-input{
								color: white;
								input{
									color: white;
								}
							}
						}
					}
					.item-input-field:after, .input-field:after {
						background-color: rgba(255, 255, 255, 0.5);
					}
				}
				&:before, &:after{
					display: none;
				}
			}
		}
	}
}