.create-question-page{
    .nav-bar{
        .right{
            .btn-save-question{
                visibility: hidden;
            }
        }
    }
    .page-content{
        .content-block{
            &.steps-block{
                margin-bottom:0px;
            }
            &.categories-block{
                margin-top:0px;
                .content-block-inner{
                    padding-bottom: 0px;
                }
            }
            .row{
                &.steps-chips{
                    .chip{
                        padding: 0px;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        border-radius: 50%;
                        .chip-media{
                            margin: 0 auto;
                            height:32px;
                            width:32px;
                        }
                        &.selected{
                            .chip-media{
                                border: solid 4px;  
                            }
                        }
                    }
                }
                &.step-buttons{
                    position: absolute;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    padding-left: 16px;
                    padding-right: 16px;
                    padding-bottom: 16px;
                }
            }
            .content-block-inner{
                &:before, &:after{
                    display: none;
                }
                .tabs-animated-wrap{
                    .tabs{
                        .tab{
                            .infinite-scroll-preloader {
                                margin-top:-20px;
                                margin-bottom: 10px;
                                text-align: center;
                            }
                            .infinite-scroll-preloader .preloader {
                                width:34px;
                                height:34px;
                            }   
                            .list-block{
                                margin: 5px 0 30px;
                                overflow-y: scroll;
                                ul{
                                    &:before, &:after{
                                        display: none;
                                    }
                                    
                                    li{
                                        label{
                                            .item-inner{
                                                color: white;
                                                &:after{
                                                    display: none;
                                                }
                                                .item-title{
                                                    white-space: initial;
                                                    overflow: hidden;
                                                    text-overflow: ellipsis;
                                                    display: -webkit-box;
                                                    -webkit-line-clamp: 3;
                                                    -webkit-box-orient: vertical;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                            &#create-question-step3{
                                .content-block-title{
                                    margin-top:0px;
                                }
                                
                                .list-block.media-list{
                                    ul{
                                        li.item-content{
                                            color: white;
                                            .item-inner{
                                                &:after{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

        }
    }
}