.dialogues-page{
	.page-content{
		.content-block{
			margin-top: 16px !important;
			color: white;
			&:after, &:before{
				display:none;
			}
			#calendar-history{
				visibility: hidden;
			}
			.card{
				background: rgba(255, 255, 255, 0.3);
				color: white;
			}
			.btn-calendar{
				color: white;
			}
		}
	}
}