.dialogue-helper-page{
	.card{
	    color: white;
    	background: rgba(133, 178, 195, 0.38);
		.video-frame {
			position: relative;
			padding-bottom: 56.25%; /* 16:9 */
			padding-top: 25px;
			height: 0;
			iframe {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 89%;
			}
		}
	}
}

.how-to-page, .glossary-page, .PIM-page, .procedure-page, .ground-rules-page{
    .page-content{
    	.card{
		    color: white;
	    	background: rgba(133, 178, 195, 0.38);
		}
    }
}

.glossary-page{
	.card.words{
		.content-block-title{
			margin-top: 0px;
    		margin-bottom: 0px;
		}
		.content-block{
			margin-left: 16px;
		}
	}
}

.ground-rules-page{
	.page-content{
		color: white;
		span{
		    padding-left: 15px;
		    padding-right: 15px;
    		display: block;
		}
	}
}