.edit-alarm-page{
    .navbar{
        .navbar-inner{

        }
    }
    .page-content{
        .content-block{
            .content-block-inner{
                &:before, &:after{
                    display: none;
                }
                .row{
                    .setTime{
                        font-size: 30px;
                        color:#1bfdb3;
                        margin: 0 auto;
                        width: 50%;
                        background: none;
                        border: none;
                        text-align: center;
                    }
                    #alarmAmount{
                        visibility: hidden;
                    }
                }
            }
        }
    }
}