.box-shadow(@x) {
	-moz-box-shadow: @x;
	-webkit-box-shadow: @x;
	box-shadow: @x;
}

.transform(@x) {
	-webkit-transform: @x;
	-moz-transform:    @x;
	-ms-transform:     @x;
	-o-transform:      @x;
	transform:         @x;
}

.transition(...) {
	-webkit-transition: 	@arguments;
	-moz-transition: 		@arguments;
	-o-transition: 			@arguments;
	transition: 			@arguments;
}

.animation(@x) {
	-webkit-animation: @x;
	-moz-animation:    @x;
	-o-animation:      @x;
	animation:         @x;
}

.placeholder-color(@x) {
	&::-webkit-input-placeholder {
	   color: @x;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   color: @x;  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   color: @x;  
	}
	&:-ms-input-placeholder {  
	   color: @x;  
	}
}

.placeholder-font-size(@x) {
	&::-webkit-input-placeholder {
	   font-size: @x;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   font-size: @x;  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   font-size: @x;  
	}
	&:-ms-input-placeholder {  
	   font-size: @x;  
	}
}

.placeholder-font-weight(@x) {
	&::-webkit-input-placeholder {
	   font-weight: @x;
	}
	&:-moz-placeholder { /* Firefox 18- */
	   font-weight: @x;  
	}
	&::-moz-placeholder {  /* Firefox 19+ */
	   font-weight: @x;  
	}
	&:-ms-input-placeholder {  
	   font-weight: @x;  
	}
}