.page{
	background-image: url(../img/background.png) !important;
	background-size: cover;
	background-repeat: no-repeat;
	.navbar{
		// background: #192938;
	}
	.page-content{
    	.content-block-title{
			color: white;
		}
	}

}
.home-page{
	.page-content{
		padding-top: 56px !important;
		padding-left:6vw;
		padding-right:6vw;

		.content-block{
			padding: 0px 0px;
			.card{
				background: rgba(255, 255, 255, 0.3);
				color: white;
				.card-content{
					.card-content-inner{
						.list-block.media-list{
							ul{
                				li.item-content{
									.item-inner:after{
										display: none;
									}
                				}
							}
							&.content&:after{
							    content: '';
							    position: absolute;
							    left: 0;
							    bottom: 0;
							    right: auto;
							    top: auto;
							    height: 1px;
							    width: 100%;
							    background-color: rgba(225, 225, 225, 0.32);
							    display: block;
							    z-index: 15;
							    -webkit-transform-origin: 50% 100%;
							    transform-origin: 50% 100%;
							}
						}
						
					}
				}
				&.ops-buttons{
					background: none;
					box-shadow: none;
					.btn-share-letter{
						display: none;
					}
				}
			}
		}
	}
}