.page .list-block.gh-list-block {
	margin: 5px 0 30px;
	ul {
		.box-shadow(0px 3px 2px 0px @shadow);
		li {
			border-bottom: 1px solid #bababa;
			&:last-child {
				border-bottom-color: transparent;
			}
			.item-content {
				background-color: #fff;
				padding: 12px 16px;
				.transition(none);
				.item-inner {
					padding: 0;
					min-height: 35px;
					&:after {
						display: none;
					}
				}
				.item-title {
					font-size: 16px;
					color: #002238;
					margin-bottom: 0.2em;
					white-space: normal;
				}
				.item-subtitle {
					font-size: 14px;
					white-space: normal;
					color: @text-color;
					letter-spacing: 0.03em;
				}
				.item-date {
					color: @primary-color;
					font-size: 12px;
					margin-bottom: 0.5em;
				}
				.item-text {
					color: @text-color;
					font-size: 14px;
					max-height: 2.6em;
				}
				.item-description {
					font-size: 14px;
					color: @text-color;
				}
				.item-media {
					padding: 0;
					img {
						width: 77px;
					}
				}
				&.active-state {
					background-color: @primary-color !important;
					color: #fff;
					.item-title {
						color: #fefefe;
					}
					.item-subtitle {
						color: #c9e9ff;
					}
					.item-date {
						color: #b8d8f5;
					}
					.item-text {
						color: #cccccc;
					}
				}
			}
		}
	}
	&.striped {
		ul li:nth-child(even) .item-content {
			background-color: #e8e8e8;
		}
	}
	&.no-border {
	    ul {
	        &:before, &:after {
	            display: none;
	        }
	        li {
			    .item-content {
			        .item-inner {
			            &:after {
			                display: none;
			            }
			            .item-title {
			                line-height: 1.3em;
			            }
			            .item-subtitle {
			                line-height: 1.3em;
			            }
			            .item-date {
			                line-height: 1.3em;
			            }
			            .item-text {
			                line-height: 1.3em;
			            }
			            .item-description {
			                line-height: 1.3em;
			            }
			        }
			    }
	        }
	    }
	}
	.content-block-inner {
		&:before, &:after {
			display: none;
		}
	}
}