.popup-overlay.modal-overlay-visible {
	z-index:3000 !important;
}
.clear-fix{
	clear:both;
}
.login-page {
	color: #fff !important;
	.page-content {
		overflow-x: hidden;
		background: transparent url("../img/login.png") no-repeat scroll center top / cover;
		font-size: 4.8vw !important;
		/*.logo-sec {
			background: transparent url("../img/logo.png") no-repeat scroll center center / cover;
			width: 40vw;
			height: 40vw;
			margin: 10% auto 0px;
			margin-top: 10%;
		}*/
		form {
			margin-left: 10.0vw;
   			margin-right: 10.0vw;
			margin-top: 85vw;
			.userinfo {
				margin-bottom: 0;
				ul li {
					font-size: 16px !important;
					padding-left: 0px !important;
					input {
						margin: 8px 0;
						font-size: 16px !important;
						color: #fff !important;
						.placeholder-color(#ddd);
					}
					span.item-remember {
						font-size: 3.7vw !important;
						color: #7ea4d0 !important;
						margin-left: 10vw !important;
					}
					span.item-forgot {
						font-size:3.7vw !important;
					}
					.remember {
						flex-shrink: 10 !important;
						width: 0px !important;
					}
				}
				.info {
					border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
					i {
					    margin-right: 4px;
					}
				}
				.rememberforgot {
					margin-top: 8vw !important;
				}
				.label-switch {
					top: -1vw;
					.checkbox {
						width: 13vw;
						height: 8vw;
						&::after{
							width: 7vw;
							height: 7vw;
							top: 0.45vw;
							left: 0.4vw;
						}
					}
					input[type="checkbox"]:checked + .checkbox::after {
						transform: translateX(5vw);
						background: white none repeat scroll 0% 0%;
					}
					input[type="checkbox"]:checked + .checkbox {
						background: #4ea6e6 none repeat scroll 0% 0%;
					}
				}
				
				.item-submit-button {
					margin-top: 20px !important;
					margin-bottom: 20px !important;
					.submit-button {
						font-size: 17px;
						text-align: center;
						border-radius: 50px;
						font-weight: bold;
					}
				}
				.item-separate-line{
					text-align:center;
					span{
						margin-top: 10px;
						&.left{
							width: 25%;
						    display: block;
						    float: left;
						    border-bottom: 1px solid;
						}
						&.right{
							width: 25%;
						    display: block;
						    float: right;
						    border-bottom: 1px solid;
						}
					}

				}
				.item-submit-sns{
					margin: 10px auto;
					.item-link{
						border: solid 1px;
						font-size: 17px;
						text-align: center;
						border-radius: 50px;
						font-weight: bold;
						&.facebook-button {
							background: #4867aa;
    						width: 30%;
    						float: left;					
						}
						&.google-button{
							background: #de5145;
						    width: 30%;
						    float: right;
						}
					}
				}
				.item-goto-button {
					text-align:center;
					a.goto-button {
						color:#2196f3;
						text-align: center;
						font-size: 17px;
						border-radius: 50px;
						font-weight: bold;
					}
				}
			} 
		}
	}
}

.recover-page{
	color: #fff !important;
	.page-content {
		overflow-x: hidden;
		background: transparent url("../img/login.png") no-repeat scroll center top / cover;
		font-size: 4.8vw !important;
		form {
			margin-left: 10.0vw;
   			margin-right: 10.0vw;
			margin-top: 85vw;
			.userinfo {
				margin-bottom: 0;
				ul li {
					font-size: 16px !important;
					padding-left: 0px !important;
					input {
						margin: 8px 0;
						font-size: 16px !important;
						color: #fff !important;
						.placeholder-color(#ddd);
					}
				}
				.info {
					border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
					i {
					    margin-right: 4px;
					}
				}
				
				.item-submit-button {
					margin-top: 20px !important;
					margin-bottom: 20px !important;
					.submit-button {
						font-size: 17px;
						text-align: center;
						border-radius: 50px;
						font-weight: bold;
					}
				}
			} 
		}

		form#recover_form {
			.item-back-button {
				text-align:center;
				a.btn-back {
					color:white;
					text-align: center;
					font-size: 17px;
					border-radius: 50px;
				}
			}
		}
	}
}