.panel.panel-left {
	background: transparent url("../img/background.png") no-repeat scroll center center / cover;
}

.menu-list.list-block {
	display: table;
	font-size: 4vw;
	height: 100%;
	margin: 0 auto;
	position: relative;
	color: white;
	ul {
		display: table-cell;
		vertical-align: middle;
		.item-link {
			display: block;
			position: relative;
			.item-content {
				background-image: url("../img/menu-item-line-with-dot.png");
			}
			&:hover, &.active {
				color: #2196f3;
				.item-content {
					background-image: url("../img/menu-item-line-hover.png");
				}
			}
		}		
		.item-content {
			min-height: auto;
			padding: 0 32px 0 12px;
			position: relative;
			background: transparent url("../img/menu-item-line.png") no-repeat center left;
			background-size: 12px auto;
			.item-inner {
				padding: 0 0 0 20px;
				background: none;
				line-height: 8.3vh;
				min-height: auto;
				&::after {
					display: none;
				}
			}
		}
		&:before, &:after {
			display: none;
		}
		li:first-child:before {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			top: 0;
			width: 12px;
			height: 10vh;
			margin-top: -10vh;
			background: transparent url("../img/menu-before-line.png") no-repeat center left;
			background-size: 12px 100%;
		}
		li:last-child:after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			bottom: 0;
			width: 12px;
			height: 10vh;
			margin-bottom: -10vh;
			background: transparent url("../img/menu-after-line.png") no-repeat center left;
			background-size: 12px 100%;
		}
	}
}

.is-logged-in {
	display: none !important;
}

body.logged-in {
	.is-logged-in {
		display: block !important;
	}
	.is-logged-out {
		display: none !important;
	}
}