// Color variables

.navbar {
	.navbar-inner {
		.left {
			left: 0;
			position: absolute;
			top: 0;
			z-index: 999;
		}
		.center {
			display: block;
			padding: 0 50px;
			font-family: 'Calibri-Regular';
			font-size: 20px;
			margin: 0 auto;
/*			text-transform: uppercase;*/
		}
		.right {
			position: absolute;
			right: 0;
			top: 0;
		}
		i.icon.icon-bars {
			&, &:before, &:after {
				background: #fff;
				height: 3px;
				position: relative;
				width: 16px;
			}
			&:before {
				content: "";
				display: block;
				position: absolute;
				top: -6px;
			}
			&:after {
				bottom: -6px;
				content: "";
				display: block;
				position: absolute;
			}
		}
	}
}

.subnavbar {
	background-color: #3b79a7;
	.left {
		left: 0;
		position: absolute;
		top: 0;
		z-index: 999;
	}
	.center {
		display: block;
		font-size: 18px;
		margin: 0 auto;
		&:first-child {
			margin-left: 0;
		}
	}
	.right {
		position: absolute;
		right: 0;
		top: 0;
	}
}

.tabbar {
	/*background: #fff;*/
	height: 37px;
	a.tab-link {
		.ripple-wave {
			background-color: #ddd;
		}
	}
	.tab-link-highlight {
		height: 4px;
	}
	&.ios-style {
		height: 48px;
		.toolbar-inner {
			left: 10px;
			top: 5px;
			right: 10px;
			bottom: 5px;
			width: auto;
			height: auto;
			border: 1px solid #54728c;
			border-radius: 7px;
			a.tab-link {
				text-transform: none;
				border-left: 1px solid #54728c;
				&:first-child {
					border-left: none;
				}
				&.active {
					color: #fff;
				}
			}
			.tab-link-highlight {
				display: none;
			}
		}
	}
}

.navbar-fixed .toolbar-fixed {
	.page-content {
		padding-top: 93px;
	}
	.toolbar.ios-style + .tabs-animated-wrap .page-content {
		padding-top: 108px;
	}
}