.reset-password-page {
	color: #fff !important;
	.page-content {
		color: white;
		.userinfo {
			background-color: rgba(225, 230, 234, 0);
			ul:before, ul:after{
				display: none;
			}
			ul li {
				font-size: 16px !important;
				.item-content{
					color: white;
					.item-inner{
						.item-title{
							color:white;
						}
						.item-input{
							color: white;
							input{
								color: white;
							}
						}
					}
				}
				.item-input-field:after, .input-field:after {
					background-color: rgba(255, 255, 255, 0.5);
				}
				.change-password{
					margin: 32px;
				}
			}
		}
	}
}