.settings-page{
	color: white;
	.content-block-title{
		color: white;
	}
	.list-block{
		margin-top: 8px;
		background-color: rgba(255, 255, 255, 0.3);
		ul{
			li.item-link{
				font-family: 'Calibri-Regular';

				.item-inner{
					&:after{
						display: none;
					}
				}
			}
		}
	}
}