.share-letter-page{
    .page-content{
        overflow-y : scroll;
        .content-block{
            color: white;

            &.view-block{
                margin-top:0px;
            }
            .content-block-inner{
                &:before, &:after{
                    display: none;
                }
                .card{
                    background: rgba(255, 255, 255, 0.3);
                    color: white;
                    span#lettertext{
                        display: flex;
                        max-height: 250px;
                        height: 250px;
                        overflow-y: scroll;
                        word-break: break-word;
                        background: rgba(33, 150, 243, 0.68);
                    }
                    .btn-mine{
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                    .btn-spouse{
                        border-bottom-left-radius: 0px;
                        border-bottom-right-radius: 0px;
                    }
                }
            }
        }
    }
}