.share-page{
    .page-content{
        .content-block{
            .content-block-inner{

                text-align: center;
                color: white;

                .logo{
                    background-image: url('../img/logo.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 100%;
                    height: 100px;
                    background-position: center;
                }

                .sns-buttons-row{
                    .chip{
                        height: 40px;
                        line-height: 40px;
                        .chip-label{
                            color: white;
                        }
                        &.btn-facebook{

                        }
                        &.btn-linkedin{

                        }
                        &.btn-google-plus{

                        }
                        &.btn-twitter{

                        }
                        &.btn-instagram{

                        }
                        &.btn-pinterest{

                        }
                    }
                }
            }
        }
    }
}