.signup-page {
	color: #fff !important;
	.page-content {
		overflow-x: hidden;
		background: transparent url("../img/login.png") no-repeat scroll center top / cover;
		font-size: 4.8vw !important;
		form {
			margin-left: 10.0vw;
   			margin-right: 10.0vw;
			margin-top: 70vw;
			.userinfo {
				margin-bottom: 0;
				ul li {
					font-size: 16px !important;
					padding-left: 0px !important;
					input {
						margin: 8px 0;
						font-size: 16px !important;
						color: #fff !important;
						.placeholder-color(#ddd);
					}
					span.item-remember {
						font-size: 3.7vw !important;
						color: #7ea4d0 !important;
						margin-left: 10vw !important;
					}
					span.item-forgot {
						font-size:3.7vw !important;
					}
					.remember {
						flex-shrink: 10 !important;
						width: 0px !important;
					}
				}
				.info {
					border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
					i {
					    margin-right: 4px;
					}
				}
				.item-submit-button {
					margin-top: 20px !important;
					margin-bottom: 20px !important;
					.submit-button {
						font-size: 17px;
						text-align: center;
						background: rgba(196, 247, 255, 0.35);
						border-radius: 50px;
						font-weight: bold;
					}
				}
				.item-separate-line{
					text-align:center;
					span{
						margin-top: 10px;
						&.left{
							width: 25%;
						    display: block;
						    float: left;
						    border-bottom: 1px solid;
						}
						&.right{
							width: 25%;
						    display: block;
						    float: right;
						    border-bottom: 1px solid;
						}
					}

				}
				.item-goto-button {
					text-align:center;
					a.goto-button {
						text-align: center;
						font-size: 17px;
					}
				}
			} 
		}
		p.desc {
			margin: 0px;
			font-size: 16px;
			line-height:48px;
			vertical-align:center;
		}
	}
}