.system-email-page{
    .navbar{
        .navbar-inner{

        }
    }
    .page-content{
        .content-block-title{
            &:before, &:after{
                display: none;
            }
        }
        .list-block{
            margin-bottom: 0px;
            margin-top: 0px;                    
            ul{
                &:before{
                    display: none;
                }
                li{
                    .item-content{
                        color: white;
                        .item-media{
                            align-self: flex-start;
                        }
                        .item-inner{
                            .item-title{
                                color:white;
                            }
                            .item-input{
                                color: white;
                                textarea{
                                    color: white;
                                }
                            }
                        }
                    }
                    .item-input-field:after, .input-field:after {
                        background-color: rgba(255, 255, 255, 0.5);
                    }
                }
            }
        }
        &:before, &:after{
            display: none;
        }
    }
}