.timer-defaults-page{
    .page-content{
        color: white;
        .content-block-title{
            color: white;
            font-size: 4.5vw;
        }
        .content-block{
            &:before, &:after{
                display: none !important;
            }
            .row{
                .setTime{
                    font-size: 30px;
                    color:#1bfdb3;
                    margin: 0 auto;
                    width: 50%;
                    background: none;
                    text-align: center;
                }
                #timerAmount{
                    visibility: hidden;
                }
            }
            .alarm-cards{
                width: 100%;
                .card.alarm{
                    .card-header{
                        color: gray;
                    }
                }
            }
        }
    }
}