.view-question-page{
    .btn-timer{
        top: 150px;
        width: 100px;
        height: 40px;
        border-radius: 2px;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        background: rgb(33, 150, 243);
        color: white;
        margin-right: 2vw;
    }
    .page-content{
        overflow : hidden;
        .content-block{
            color: white;
            &.steps-block{
                margin-bottom:0px;
            }
            &.view-block{
                margin-top:0px;
            }
            .row{
                &.steps-chips{
                    .chip{
                        padding: 0px;
                        height: 40px;
                        width: 40px;
                        line-height: 40px;
                        border-radius: 50%;
                        .chip-media{
                            margin: 0 auto;
                            height:32px;
                            width:32px;
                        }
                        &.selected{
                            .chip-media{
                                border: solid 4px;  
                            }
                        }
                    }
                }
            }

            .content-block-inner{

                &:before, &:after{
                    display: none;
                }

                .tabs-animated-wrap{
                    .tabs{
                        .tab{
                            &#view-question-step1{
                                .row.mood-icons{
                                    text-align: center;
                                    margin: 32px 0;
                                    .col-50 {
                                        i{
                                            font-size: 25vw;
                                        }
                                    }
                                }
                            }

                            &#view-question-step2{
                                .list-block.feelings-list{
                                    margin: 5px 0 30px;
                                    overflow-y: scroll;
                                    ul{
                                        &:before, &:after{
                                            display: none;
                                        }
                                        
                                        li{
                                            &.list-group-title{
                                                position: relative !important;
                                            }
                                            .item-inner{
                                                color: white;

                                                &:after{
                                                    display: none;
                                                }
                                            }
                                        }
                                    }
                                }
                            }

                            &#view-question-step3{
                                .card{
                                    background: rgba(255, 255, 255, 0.3);
                                    color: white;
                                    .list-block{
                                        margin-bottom: 0px;
                                        margin-top: 0px;                    
                                        ul{
                                            &:before{
                                                display: none;
                                            }
                                            li{
                                                .item-content{
                                                    color: white;
                                                    .item-inner{
                                                        .item-title{
                                                            color:white;
                                                        }
                                                        .item-input{
                                                            color: white;
                                                            textarea{
                                                                color: white;
                                                                background: #2196f3;
                                                                max-height: 200px;
                                                                overflow-y: scroll;
                                                            }
                                                        }
                                                    }
                                                }
                                            }
                                        }
                                    }
                                    &.writing-card{
                                        margin-top: 50px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}