.page.page-on-center.cached.about-us-page.navbar-fixed(data-page="about-us")
  .navbar
    .navbar-inner
      .left
        a.open-panel.link.icon-only(href="#")
          i.icon.icon-bars
      .center.sliding About Us
      .right
        a(href="#").link.icon-only.btn-home
          i.material-icons home
  .page-content
    .content-block
      .content-block-inner
        .logo
        .app-name Dialogue Daily
        .app-version Ver 1.0.0
        .description
          br
          | After more than a decade into our marriage, we experienced almost every life stressor imaginable. We struggled on our own for 4 years. Finally we found this DIALOGUE method of communication. We are now celebrating almost 30 years of marriage and loving it!
          br
          br
          | We developed this mobile application for married and engaged couples looking for a communication strategy to help them renew, restore, and revitalize their relationship.
          br
          br
          | We strongly believe in the need for loving and committed marriages in the world.
          br
          br
          | A portion of the proceeds from your purchase go to our local non-profit Retrouvaille and Marriage Encounter communities.
          br
        p 
          | Developed by Advanced WEB Strategies
          br
          | Copyright 2017 All rights Reserved
        // 
          p.buttons-row
            a.button.button-fill.button-raised.btn-upgrade(href='#') Upgrade Account!