<!-- Appointment Defaults Page -->
.page.page-on-center.cached.appointment-defaults-page.navbar-fixed(data-page="appointment-defaults")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center Appointment Defaults
      .right
        a(href="#").link.icon-only.save-appointment-defaults
          i.material-icons check
  .page-content
    .content-block-title Default time for Writing
    .content-block
      .clock-writing
        .clock-upper-section.row
          .col-10
          .col-80
            .row
              .col-33
                a.button.button-raised.button-fill.btn-inc-hour(href='#')
                  i.material-icons arrow_drop_up
              .col-33
                a.button.button-raised.button-fill.btn-inc-min(href='#')
                  i.material-icons arrow_drop_up
              .col-33
                a.button.button-raised.button-fill.btn-inc-noon(href='#')
                  i.material-icons arrow_drop_up
          .col-10
        .clock-current-section.row
          .col-10
          .col-80
            .row
              .col-33
                .current-time-label.current-hour 09
              .col-33
                .current-time-label.current-min 00
              .col-33
                .current-time-label.current-noon AM
          .col-10
        .clock-bottom-section.row
          .col-10
          .col-80
            .row
              .col-33
                a.button.button-raised.button-fill.btn-dec-hour(href='#')
                  i.material-icons arrow_drop_down
              .col-33
                a.button.button-raised.button-fill.btn-dec-min(href='#')
                  i.material-icons arrow_drop_down
              .col-33
                a.button.button-raised.button-fill.btn-dec-noon(href='#')
                  i.material-icons arrow_drop_down
          .col-10
    .content-block-title Default time for Sharing
    .content-block
      .clock-sharing
        .clock-upper-section.row
          .col-10
          .col-80
            .row
              .col-33
                a.button.button-raised.button-fill.btn-inc-hour(href='#')
                  i.material-icons arrow_drop_up
              .col-33
                a.button.button-raised.button-fill.btn-inc-min(href='#')
                  i.material-icons arrow_drop_up
              .col-33
                a.button.button-raised.button-fill.btn-inc-noon(href='#')
                  i.material-icons arrow_drop_up
          .col-10
        .clock-current-section.row
          .col-10
          .col-80
            .row
              .col-33
                .current-time-label.current-hour 06
              .col-33
                .current-time-label.current-min 00
              .col-33
                .current-time-label.current-noon PM
          .col-10
        .clock-bottom-section.row
          .col-10
          .col-80
            .row
              .col-33
                a.button.button-raised.button-fill.btn-dec-hour(href='#')
                  i.material-icons arrow_drop_down
              .col-33
                a.button.button-raised.button-fill.btn-dec-min(href='#')
                  i.material-icons arrow_drop_down
              .col-33
                a.button.button-raised.button-fill.btn-dec-noon(href='#')
                  i.material-icons arrow_drop_down
          .col-10
    .content-block-title 
      .row
        span Select to change time
    .content-block 
      .row
        .week-chips
          .chip#chip1(data-id='7')
            .chip-media.bg-red Sun
          .chip#chip2(data-id='1')
            .chip-media.bg-teal Mon
          .chip#chip3(data-id='2')
            .chip-media.bg-pink Tue
          .chip#chip4(data-id='3')
            .chip-media.bg-green Wed
          .chip#chip5(data-id='4')
            .chip-media.bg-brown Thu
          .chip#chip6(data-id='5')
            .chip-media.bg-blue Fri
          .chip#chip7(data-id='6')
            .chip-media.bg-purple Sat
