.page.page-on-center.cached.buy-now-page.navbar-fixed(data-page="buy-now")
  .navbar
    .navbar-inner
      .left
        a.open-panel.link.icon-only(href="#")
          i.icon.icon-bars
      .center.sliding Buy Now
      .right
        a(href="#").link.icon-only.btn-home
          i.material-icons home
  .page-content
    .content-block
      .content-block-inner
        .logo
        .app-name Dialogue Daily
        .description
        p 
          | Developed by Advanced WEB Strategies
        p
          | A portion of the proceeds from your purchase go to our local non-profit Retrouvaille and Marriage Encounter communities.
        p.buttons-row
            a.button.button-fill.button-raised.btn-upgrade(href='#') Upgrade