<!-- Contact Info Page -->
.page.page-on-center.cached.contact-info-page.navbar-fixed(data-page="contact-info")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center Contact Info
      .right
        a(href="#").link.icon-only.btn-save-info
          i.material-icons check
  .page-content
    .content-block-title Your Information
    .list-block
      ul
        li
          .item-content
            .item-media
              i.material-icons person
            .item-inner
              .item-title.floating-label Full Name
              .item-input
                input#name(type='text')
        li
          .item-content
            .item-media
              i.material-icons email
            .item-inner
              .item-title.floating-label E-mail
              .item-input
                input#email(type='email')
        li
          .item-content
            .item-media
              i.material-icons phone
            .item-inner
              .item-title.floating-label Phone Number
              .item-input
                input#phone(type='tel')
    .content-block-title Spouse's Information
    .list-block
      ul
        li
          .item-content
            .item-media
              i.material-icons person
            .item-inner
              .item-title.floating-label Full Name
              .item-input
                input#partner_name(type='text')
        li
          .item-content
            .item-media
              i.material-icons email
            .item-inner
              .item-title.floating-label E-mail
              .item-input
                input#partner_email(type='email')
        li
          .item-content
            .item-media
              i.material-icons phone
            .item-inner
              .item-title.floating-label Phone Number
              .item-input
                input#partner_phone(type='tel')