.page.page-on-center.cached.create-question-page.navbar-fixed(data-page="create-question")
  .navbar
    .navbar-inner
      .left
        a(href="#").back.link.icon-only
          i.icon.icon-back
      .center.sliding Choose Dialogue Category
  .page-content
    .content-block.steps-block
        .row.steps-chips
            .chip.chip-step1.selected(data-id='1')
                .chip-media.bg-blue 1
            .chip.chip-step2(data-id='2')
                .chip-media.bg-gray 2
            .chip.chip-step3(data-id='3')
                .chip-media.bg-gray 3
    .content-block.categories-block
        .content-block-inner
            .tabs-animated-wrap
                .tabs
                    #create-question-step1.tab.active
                        .list-block.categories-list
                            ul
                                li
                                    label.label-radio.item-content
                                        input(type='radio', name='my-radio', value='Books', checked='checked')
                                        .item-media
                                            i.icon.icon-form-radio
                                        .item-inner
                                            .item-title Books
                    #create-question-step2.tab
                        .list-block.questions-list.infinite-scroll
                            ul
                                li
                                    label.label-radio.item-content
                                        input(type='radio', name='my-radio', value='Books', checked='checked')
                                        .item-media
                                            i.icon.icon-form-radio
                                        .item-inner
                                            .item-title Books
                    #create-question-step3.tab
                        .content-block-title Appointments:
                        .list-block.media-list
                            ul
                                li.item-content.item-date
                                    .item-media
                                        i.material-icons date_range    
                                    .item-inner
                                        .item-title-row
                                            .item-title
                                                label.set-date 2017-08-09
                                        .item-subtitle
                                            label.set-day Monday
                                li.item-content.item-writing
                                    .item-media
                                        i.material-icons mode_edit    
                                    .item-inner
                                        .item-title-row
                                            .item-title
                                                span#writing-time 09:00 AM
                                        .item-subtitle Writing
                                li.item-content.item-sharing
                                    .item-media
                                        i.material-icons screen_share
                                    .item-inner
                                        .item-title-row
                                            .item-title
                                                span#sharing-time 06:00 PM
                                        .item-subtitle Sharing
                            input#calendar-appointment(type='text', readonly='')
                            input#writing-appointment(type='text', readonly='')
                            input#sharing-appointment(type='text', readonly='')
        .row.step-buttons
            a.button.button-raised.button-fill.color-gray.btn-prev-step(href='#') Prev
            a.button.button-raised.button-fill.color-blue.btn-next-step(href='#') Next