.page.cached.page-on-center.dialogues-page.navbar-fixed.toolbar-fixed(data-page="dialogues")
  .navbar
    .navbar-inner
      .left
        a.open-panel.link.icon-only(href="#")
          i.icon.icon-bars
      .center Dialogue History
      .right
        a(href="#").link.icon-only.btn-home
          i.material-icons home
  .toolbar.tabbar
    .toolbar-inner
      a.tab-link.active(href='#mine') My Letter
      a.tab-link(href='#spouse') Spouse's Letter
  .page-content
    .content-block
      .tabs-animated-wrap
        .tabs
          #mine.tab.active
            .card.mine
              .card-header
                span.selected-date
                a(href="#").link.icon-only.btn-calendar
                  i.material-icons date_range
              .card-header.selected-question
                | What are you going to doay with wht
          #spouse.tab
            .card.spouse
              .card-header
                span.selected-date
                a.link.icon-only.btn-calendar(href="#")
                  i.material-icons date_range
              .card-header.selected-question
                | What are you going to doay with wh
      input#calendar-history(type='text', readonly='')