.page.cached.page-on-center.dialogue-helper-page.navbar-fixed(data-page="dialogue-helper")
  .navbar
    .navbar-inner
      .left
        a.open-panel.link.icon-only(href="#")
          i.icon.icon-bars
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center Reference Material
      .right
        a(href="#").link.icon-only.btn-home
          i.material-icons home
  .page-content
    .content-block
      .card
        .card-header
          | How to Dialogue
          a.link.button-raised.button.button-fill.color-blue.btn-ref(href='#', data-id='1') Read more
      .card
        .card-header
          | Glossary
          a.link.button-raised.button.button-fill.color-blue.btn-ref(href='#', data-id='2') Read more
      .card
        .card-header
          | Describing Feelings (PIM)
          a.link.button-raised.button.button-fill.color-blue.btn-ref(href='#', data-id='3') Read more
      .card
        .card-header
          | Procedure (WEDS)
          a.link.button-raised.button.button-fill.color-blue.btn-ref(href='#', data-id='4') Read more
      .card
        .card-header
          | Ground Rules
          a.link.button-raised.button.button-fill.color-blue.btn-ref(href='#', data-id='5') Read more
      .card
        .card-header How to dialogue correctly
        .card-content
          .video-frame.correctly
            iframe(src="", allowfullscreen="", frameborder="0")
      .card
        .card-header How NOT to dialogue
        .card-content
          .video-frame.not-dialogue
            iframe(src="", allowfullscreen="", frameborder="0")

.page.page-on-center.cached.how-to-page.navbar-fixed(data-page="how-to")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center.sliding How to Dialogue
  .page-content
    .content-block
      .content-block-title Writing Letter
      .card
        .card-content
          .card-content-inner
            | 1.  Start Timer
            br
            | 2.  Salutation
            br
            | &nbsp;&nbsp;&nbsp; • Write something nice about your spouse
            br
            | &nbsp;&nbsp;&nbsp; • Write a short prayer
            br
            | 3.  Answer question
            br
            | &nbsp;&nbsp;&nbsp; • Identify top 3 feelings – Positive or Negative
            br
            | 4.  Describe your feelings
            br
            | &nbsp;&nbsp;&nbsp; • Write about Strongest feeling
            br
            | &nbsp;&nbsp;&nbsp; • Use&nbsp;
            a.link.btn-ref(href='#', data-id='3') PIM
            | &nbsp;format
            br
            | 5.  Sign Letter
            br
            | 6.  Send/Exchange Letter
      .content-block-title Sharing Letter
      .card
        .card-content
          .card-content-inner
            | 1.  Start Timer
            br
            | 2.  Read Letter
            br
            | &nbsp;&nbsp;&nbsp; • Read once for clarity and understanding
            br
            | &nbsp;&nbsp;&nbsp; •  Read a second time focused on spouse’s feelings
            br
            | 3.  Dialogue
            br
            | &nbsp;&nbsp;&nbsp; • Focus on FEELINGS ONLY
            br
            | &nbsp;&nbsp;&nbsp; • Partner will confirm your understanding
            br
            | &nbsp;&nbsp;&nbsp; • (No discussions or arguments)
            br
            | 4. Select next day’s question
            br
            | 5.  Thank spouse

.page.page-on-center.cached.glossary-page.navbar-fixed(data-page="glossary")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center.sliding Glossary
  .page-content
    .content-block
      .card
        .card-content
          .card-content-inner
            .row
              .col-25
                | HDIF
              .col-75
                | How do I feel?
            .row
              .col-25
                | HDIFAMA
              .col-75
                | How do I feel about my answer?
            .row
              .col-25
                | HDIFAT
              .col-75
                | How do I feel about this/that?
            .row
              .col-25
                | HDIFSTWY
              .col-75
                | How do I feel sharing this with you?
            .row
              .col-25
                | HDIFTYT
              .col-75
                | How do I feel telling you this?
            .row
              .col-25
                | DYFF
              .col-75
                | Describe your feelings fully?
      .card.words
        .card-content
          .content-block-title Acceptance
          .content-block To believe in and approve of without judgement.
          .content-block-title Affirmation
          .content-block The communication of affection, thoughts, words, and deeds that confirm to our spouse they are loved and valued.
          .content-block-title Assumptions
          .content-block The act of take for granted or supposing.
          .content-block-title Attitude 
          .content-block A mental disposition that shows mood and action through feelings or thoughts.
          .content-block-title Barrier 
          .content-block The way we act.
          .content-block-title Behavior 
          .content-block The way we act.
          .content-block-title Change 
          .content-block To get rid of negative old habits and/or ideas.
          .content-block-title Commitment 
          .content-block Working at and making efforts to improve. Commitment is a decision.
          .content-block-title Communication 
          .content-block An exchange of information through verbal or written transmission.
          .content-block-title Communion/Eucharist 
          .content-block A sacrament of Christian faiths in which bread and wine is transformed into the body and blood of Christ.
          .content-block-title Community 
          .content-block A unified body of individuals with a common interest.
          .content-block-title Conflict 
          .content-block When two individuals want different things at the same time.
          .content-block-title Confrontation 
          .content-block To face an issue and stick with it until resolved or at least we know exactly what we are dealing with.
          .content-block-title Covenant 
          .content-block A formal, solemn and binding agreement between two people.
          .content-block-title Criticism 
          .content-block The act of making judgements and stressing the faults of another.
          .content-block-title Decision 
          .content-block To make a free-will choice, despite feelings, and regardless of the outcome.
          .content-block-title Dialogue 
          .content-block (Written and Verbal) A technique of communication where we describe to our spouse our feelings using relatable examples such as physical sensation, images and past experiences.
          .content-block-title Discernment 
          .content-block A process which involves intellectual and emotional contemplation for the purpose of making decisions.
          .content-block-title Discussion 
          .content-block The talking about our ideas, thoughts and judgments.
          .content-block-title Disillusionment 
          .content-block A stage of marriage when you realize you’re not who you thought you’d be, your spouse is not who you thought they would be, and your marriage isn’t what you thought it would be.
          .content-block-title Double Standard
          .content-block Seeing the good aspects of others, and excuse or ignore their faults and concentrate on our own deficiencies rather than our goodness.  This can be reversed, seeing our own faults, but not seeing faults in others.
          .content-block-title Emotion/Feeling 
          .content-block Spontaneous, inner reaction to a person, place or situation (Past or Present).
          .content-block-title Eucharist/Communion
          .content-block A sacrament of Christian faiths in which bread and wine is transformed into the body and blood of Christ.
          .content-block-title Expectation 
          .content-block When you think someone should be a certain way or something should happen a certain way.  Looking forward to, anticipation.
          .content-block-title Family of Origin 
          .content-block Relates to the environment we grew up in.
          .content-block-title Fidelity 
          .content-block Faithfulness in honoring an obligation or promise.
          .content-block-title Forgive
          .content-block Reconciliation, to cease to blame, to cease to feel resentment against, and cease to desire to punish another.
          .content-block-title Garbage Dumping
          .content-block To blame or accuse our spouse for our feelings and actions, or unloading on our spouse what we see to be his/her collected faults.
          .content-block-title Goal 
          .content-block The end toward which an effort is directed.
          .content-block-title Holy 
          .content-block That which is held sacred or divine because of its origin or connection with God.
          .content-block-title Ideal 
          .content-block Something recognized as good and worthwhile and you want in your life sometime but not willing to sacrifice for it now.
          .content-block-title Infidelity 
          .content-block The opposite of fidelity, involving the breaking of promises and being unfaithful.
          .content-block-title Interests 
          .content-block Those activities, concerns, and involvements that draw our attention, excite us and are often our driving force.
          .content-block-title Intimacy 
          .content-block The way we are involved with one another and we become vulnerable and transparent.
          .content-block-title Judgments 
          .content-block One’s own opinions or ideas.
          .content-block-title Listen 
          .content-block To make a conscious effort to hear and understand.
          .content-block-title Manipulation 
          .content-block Attempting to control situations and those around us by using certain behaviors (intimidation) so we feel comfortable and satisfied.
          .content-block-title Marriage (Christian) 
          .content-block The close union of a man and a woman involving Jesus as the central part of this union.
          .content-block-title Married Singles 
          .content-block When a married couple lives a separate, independent, and self-centered existence with each other.
          .content-block-title Masks 
          .content-block The way we act with others in an effort to be accepted and to feel good about ourselves.  It covers up our poor self-image and when used to exaggeration can become a problem in our relationship with others.
          .content-block-title Ministry 
          .content-block People devoting their time, talents, and gifts to help others.
          .content-block-title Misery 
          .content-block Stage of marriage where it seems hopeless and you may experience many feelings, such as despair, anger, hurt, etc.
          .content-block-title Need
          .content-block Something essential to our well-being.
          .content-block-title Non-Verbal 
          .content-block Things (beside speech) that speak to another, such as body language, tone of voice, attitude, etc.
          .content-block-title Personality Type 
          .content-block Helper, Organizer, Thinker, Catalyst – We all have characteristics of each, but one is most predominant and comes from our family of origin.
          .content-block-title Praise 
          .content-block Words or acts that express approval or admiration.
          .content-block-title Prime Place
          .content-block A location deemed to be the best place for an activity.
          .content-block-title Prime Time 
          .content-block A time deemed to be the best to set aside for an activity.
          .content-block-title Quality 
          .content-block A characteristic that distinguishes excellent or superiority from average and/or ordinary.
          .content-block-title Quantity 
          .content-block A considerable amount of anything, especially time.
          .content-block-title Rejection 
          .content-block To refuse to take, agree to, use, believe, etc.
          .content-block-title Retrouvaille 
          .content-block A program for hurting couples and means “to rediscover or recover life.”
          .content-block-title Rituals 
          .content-block Interactions that are repeated, coordinated and hold emotional significance for the participants., distinguishable from routines.
          .content-block-title Romance 
          .content-block A stage in the beginning of a marriage where we were happy and valued each other, ignoring our spouse’s weaknesses.
          .content-block-title Sacrament 
          .content-block A visible and sacred sign that signifies God’s presence in our lives and give grace.
          .content-block-title Self-Talk
          .content-block Silent conversations we have with ourselves, which help to create our current attitude toward situations.
          .content-block-title Sex 
          .content-block The act of intercourse between husband and wife.
          .content-block-title Sexuality 
          .content-block Encompasses everything that we perceive about ourselves as masculine or feminine.
          .content-block-title Sharing 
          .content-block The willingness to express to others your feelings, thoughts and ideas.
          .content-block-title Thoughts 
          .content-block The product of mental activity, that which one thinks.
          .content-block-title Trust 
          .content-block Firm belief in the honest, goodness, and reliability of our spouse.
          .content-block-title Unconditional 
          .content-block Absolute, without conditions or reservations.
          .content-block-title Value 
          .content-block Something recognized as good and worthwhile that you choose to have in your life now by sacrificing other things.

.page.page-on-center.cached.PIM-page.navbar-fixed(data-page="PIM")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center.sliding What is PIM?
  .page-content
    .content-block
      .card
        .card-content
          .card-content-inner
            | P = Physical Sensation
            br
            br
            | I = Images
            br
            | &nbsp;&nbsp;&nbsp; • Level of intensity (Scale from 1 to 10)
            br
            | &nbsp;&nbsp;&nbsp; • Color
            br
            | &nbsp;&nbsp;&nbsp; • Nature
            br
            | &nbsp;&nbsp;&nbsp; • Painting or Picture
            br
            | &nbsp;&nbsp;&nbsp; • Music
            br
            | &nbsp;&nbsp;&nbsp; • Sport or Event
            br
            | &nbsp;&nbsp;&nbsp; • Animal
            br
            | &nbsp;&nbsp;&nbsp; • Identify senses
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o Sight
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o Smell
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o Sound
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o Taste
            br
            | &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; o Touch
            br
            | &nbsp;&nbsp;&nbsp; • Mental Picture
            br
            br
            | M = Memory or Past Experience

.page.page-on-center.cached.procedure-page.navbar-fixed(data-page="procedure")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center.sliding What is WEDS
  .page-content
    .content-block
      .content-block-title W = Write
      .card
        .card-content
          .card-content-inner
            | • 10 Minutes Minimum
            br
            | • Prime Time
            br
            | • No need to write at the same time
            br
            | • Focus on naming and describing feelings
      .content-block-title E = Exchange
      .card
        .card-content
          .card-content-inner
            | • Respectfully
            br
            | • In Silence
            br
            | • No comments
            br
            | • No Negative or Non-Verbals
      .content-block-title D = Dialogue
      .card
        .card-content
          .card-content-inner
            | • 10 minutes Minimum
            br
            | • Prime Time
            br
            | • Prime Place
            br
            | • Begin with Strongest feeling
            br
            | • Try to experience the feeling
            br
            | • Mirror the feeling to spouse
            br
            | • Listen with your heart
            br
            | • Listen beyond the words
      .content-block-title S = Select
      .card
        .card-content
          .card-content-inner
            | • Select next DAILY DIALOGUE question
            br
            | • Take turns selecting the question
            br
            | • Make up questions
            br
            | • Don’t always select difficult topics
            br
            | • Choose positive and pleasant topics

.page.page-on-center.cached.ground-rules-page.navbar-fixed(data-page="ground-rules")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center.sliding Ground Rules
  .page-content
    .content-block
      | • NOT to change your spouse
      br
      | • NOT to manipulate or control your spouse
      br
      | • NOT to solve a problem
      br
      | • NOT the same as discussion
      br
      span
        | o A discussion deals with thoughts and feelings AND often tries to solve a problem
      br
      | • ONLY deal with feelings
      br
      | • A Feeling versus a judgment
      br
      span
        | o A FEELING = “I feel…” or “I am…”
      br
      span
        | o A JUDGEMENT = “I feel that…” or “I think that…” or “I judge that…”
      br
      span
        | o A JUDGEMENT I HAVE ABOUT YOU = “I feel that you…” or “I think that you…” or “I judge that you…” 
      br
      | • Judgments – Open the door to
      br
      span
        | o Criticism
      span
        | o Blame
      span
        | o Accusations
      span
        | o Defensiveness
      span
        | o Arguments
      span
        | o And often leads to a fight