<!-- Add Alarm Page -->
.page.page-on-center.cached.edit-alarm-page.navbar-fixed(data-page="edit-alarm")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center Edit Alarm
      .right
        a(href="#").link.icon-only.btn-edit-alarm
          i.material-icons check
  .page-content
    .content-block
      .content-block-inner
        .row
          label.setTime 10 Minutes
          input#alarmAmount(type='text', readonly='', value='10 Minutes')
    .content-block
      .content-block-inner
        .row
          a.button.button-fill.button-raised.color-primary.btn-play-audio(href='#') Play
          a.button.button-fill.button-raised.color-primary.btn-choose-audio(href='#') Choose Ring 
