.page.page-on-center.home-page.navbar-fixed(data-page="home")
  .navbar
    .navbar-inner
      .left
        a.open-panel.link.icon-only(href="#")
          i.icon.icon-bars
      .center.sliding Dialogue Daily
      .right
        a(href="#").link.icon-only.btn-home
          i.material-icons home
        a(href="#").link.icon-only.btn-reset-appointment
          i.material-icons undo
  
  .page-content.pull-to-refresh-content(data-ptr-distance="35")
    .content-block
      .card
        .card-header
          span Upcoming Appointments:
          span#appointment-date July 29, 2017
        .card-content
          .card-content-inner
            .list-block.media-list.content
              ul
                li.item-content
                  .item-media
                    i.material-icons mode_edit    
                  .item-inner
                    .item-title-row
                      .item-title
                        span#appointment-writing 09:00 AM
                    .item-subtitle Writing
                li.item-content
                  .item-media
                    i.material-icons screen_share
                  .item-inner
                    .item-title-row
                      .item-title
                        span#appointment-sharing 06:00 PM
                    .item-subtitle Sharing
        .card-content
          .card-content-inner
            .list-block.media-list
              ul
                li.item-content
                  .item-media
                    i.material-icons live_help    
                  .item-inner
                    span#next-question None
      .card.ops-buttons
        .card-content
          p.buttons-row
            a.button.color-blue.btn-create-question.button-fill.button-raised(href='#') Choose Dialogue Question
          p.buttons-row
            a.button.color-blue.btn-view-question.button-fill.button-raised(href='#') Write Dialogue Letter
          p.buttons-row
            a.button.color-blue.btn-share-letter.button-fill.button-raised(href='#') Dialogue