.page.no-toolbar.no-navbar.no-swipeback.cached.signup-page(data-page="login-signup-screen")
  .page-content.login-screen-content
    a.close-button.right.link(href="#")
      .close-img
    .logo-sec.center
    form#signup_form
      .userinfo.list-block
        ul
          li.item-content.info.email
            i.material-icons.md-24 email
            input(type="email", name="email", placeholder="EMAIL")
          li.item-content.info.password
            i.material-icons.md-24 lock_outline
            input(type="password", name="password", placeholder="PASSWORD")
          li.item-content.info.password
            i.material-icons.md-24 lock_outline
            input(type="password", name="repassword", placeholder="CONFIRM")
          li.item-submit-button
            a.button.color-blue.button-fill.button-raised.submit-button(href="#") SIGN UP
          li.item-goto-button
            a.item-link.list-button.goto-button.back(href="#" ) Already have an account? SIGN IN
