.page.no-toolbar.no-navbar.no-swipeback.login-page(data-page="login-screen")
  .page-content.login-screen-content
    .logo-sec.center
    form#login_form
      .userinfo.list-block
        ul
          li.item-content.info.email
            i.material-icons.md-24 email
            input(type="email", name="email", placeholder="EMAIL")
          li.item-content.info.password
            i.material-icons.md-24 lock_outline
            input(type="password", name="password", placeholder="PASSWORD")
          li.item-submit-button
            a.button.color-blue.button-fill.button-raised.submit-button(href="#") SIGN IN
          //
            li.item-separate-line
              span.left
              OR CONNECT WITH
              span.right
              p.clear-fix
          //
            li.item-submit-sns
              a.item-link.list-button.facebook-button(href="#") FACEBOOK
              a.item-link.list-button.google-button(href="#") GOOGLE
              div.clear-fix
          li.item-goto-button
            a.button.bg-white.button-fill.button-raised.goto-button(href='#login-signup-screen') SIGN UP
          li.item-goto-button.btn-forgot
            a.item-link.list-button.item-forgot(href="#login-recover-screen") Forgot Password?