.page.no-toolbar.no-navbar.cached.no-swipeback.recover-page(data-page="login-recover-screen")
  .page-content.login-screen-content
    form#recover_form
      .userinfo.list-block
        ul
          li.item-content
            | Forgot Your Password?
          li.item-content.info.email
            i.material-icons.md-24 email
            input(type="email", name="email", placeholder="EMAIL")
          li.item-submit-button
            a.button.color-blue.button-fill.button-raised.submit-button(href="#") SEND
          li.item-back-button
            a.btn-back(href="#") Just Remembered? Sign In 