doctype
html
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no, minimal-ui")
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name="apple-mobile-web-app-status-bar-style", content="black")
    title Dialogue Daily
    // Path to Framework7 Library CSS
    link(rel="stylesheet", href="css/#{stylesheetFilename}.css")
    link(rel="stylesheet", href="css/#{stylesheetColorsFilename}.css")
    // Path to your custom app styles
    link(rel="stylesheet", href="css/main.css")
    link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')

  body
    // Status bar overlay for fullscreen mode
    .statusbar-overlay

    // Panels overlay
    .panel-overlay
    // Left panel with reveal effect
    .panel.panel-left.panel-reveal
      .list-block.menu-list
        ul
          li
            a#home-page-link.item-link.active(href="#home")
              .item-content
                .item-inner
                  .item-title Home
          li
            a#dialogues-page-link.item-link(href="#dialogues")
              .item-content
                .item-inner
                  .item-title Dialogue History
          li
            a#settings-page-link.item-link(href="#settings")
              .item-content
                .item-inner
                  .item-title Settings
          li
            a.item-link.not-active.clear-link
              .item-content
                .item-inner
                  .item-title Clear Question
          li
            a#dialogue-helper-page-link.item-link(href="#dialogue-helper")
              .item-content
                .item-inner
                  .item-title Reference Material
          li
            a#buy-now-page-link.item-link(href="#buy-now")
              .item-content
                .item-inner
                  .item-title Buy Now
          //
            li
              a#share-page-link.item-link(href="#share")
                .item-content
                  .item-inner
                    .item-title Share
          li
            a#about-us-page-link.item-link(href="#about-us")
              .item-content
                .item-inner
                  .item-title About Us
          li
            a.item-link.not-active.logout-link
              .item-content
                .item-inner
                  .item-title Log out
    // Views
    .views
      .view.view-main
        .pages.navbar-fixed
          include home.jade
          include dialogues.jade
          include settings.jade
          include createquestion.jade
          include writeletter.jade
          include shareletter.jade
          include contactinfo.jade
          include timerdefaults.jade
          include appointmentdefaults.jade
          include systememail.jade
          include dialoguehelper.jade
          include editalarm.jade
          include about.jade
          include buynow.jade
          include share.jade
          include reset-password.jade
          include login.jade
          include login-signup.jade
          include login-recover.jade

    // Path to Framework7 Library JS
    script(type="text/javascript", src="js/#{scriptFilename}.js")
    // Path to your app js
    script(type="text/javascript", src="js/framework7.feeds.min.js")
    script(type="text/javascript", src="js/moment.min.js")
    script(src='http://cdnjs.cloudflare.com/ajax/libs/less.js/1.6.1/less.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.1.1/es6-promise.auto.min.js')
    // script(type="text/javascript", src="js/#{configFilename}.js")
    script(type="text/javascript", src="js/config-pro.js")
    // script(type="text/javascript", src="js/pushnotif.js")
    script(type="text/javascript", src="js/user.js")
    script(type="text/javascript", src="js/dbmanager.js")
    script(type="text/javascript", src="js/staticmanager.js")
    script(type="text/javascript", src="js/main.js")
    script(type="text/javascript", src="js/createquestion.js")
    script(type="text/javascript", src="js/writeletter.js")
    script(type="text/javascript", src="js/shareletter.js")
    script(type="text/javascript", src="js/dialoguehistories.js")
    script(type="text/javascript", src="js/dialoguehelper.js")
    script(type="text/javascript", src="js/home.js")
    script(type="text/javascript", src="js/contactinfo.js")
    script(type="text/javascript", src="js/editalarm.js")
    script(type="text/javascript", src="js/timerdefaults.js")
    script(type="text/javascript", src="js/appointmentdefaults.js")
    script(type="text/javascript", src="js/systememail.js")
    script(type="text/javascript", src="js/buynow.js")
    script(type="text/javascript", src="js/aboutus.js")
    script(type="text/javascript", src="js/share.js")
    script(type="text/javascript", src="js/settings.js")
    script(type="text/javascript", src="js/login.js")
    // script(type="text/javascript", src="cordova.js")