.page.page-on-center.cached.reset-password-page(data-page="reset-password-screen")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center.sliding Reset Password
      .right
        a(href="#").link.icon-only.btn-home
          i.material-icons home
  .page-content
    .userinfo.list-block
      ul
        li
          .item-content
            .item-media
              i.material-icons lock_outline
            .item-inner
              .item-title.floating-label New Password
              .item-input
                input#password(type='password')
        li
          .item-content
            .item-media
              i.material-icons lock_outline
            .item-inner
              .item-title.floating-label Confirm Password
              .item-input
                input#confirm(type='password')
        li
          a.button.color-blue.button-fill.button-raised.change-password(href="#") CHANGE PASSWORD