.page.cached.page-on-center.settings-page.navbar-fixed(data-page="settings")
  .navbar
    .navbar-inner
      .left
        a.open-panel.link.icon-only(href="#")
          i.icon.icon-bars
      .center Settings
      .right
        a(href="#").link.icon-only.btn-home
          i.material-icons home
  .page-content
    .content-block-title Configuration
    .list-block
      ul
        li.item-link.item-content.item-contact-info.link
          .item-media
            i.material-icons person
          .item-inner
            .item-title Contact Info
        li.item-link.item-content.item-appointment-defaults
          .item-media
            i.material-icons view_week
          .item-inner
            .item-title Appointment Defaults
        li.item-link.item-content.item-timer-defaults
          .item-media
            i.material-icons timer
          .item-inner
            .item-title Timer Defaults
        li.item-link.item-content.item-system-email
          .item-media
            i.material-icons email
          .item-inner
            .item-title System Email Wordings
      
    .content-block-title Other
    .list-block
      ul
        li.item-link.item-content.item-change-password
          .item-media
            i.material-icons lock_outline
          .item-inner
            .item-title Reset Password
        // 
          li.item-link.item-content.item-about-us
            .item-media
              i.material-icons info
            .item-inner
              .item-title About Us
        //
          li.item-link.item-content.item-share
            .item-media
              i.material-icons share
            .item-inner
              .item-title Share