.page.page-on-center.cached.share-page.navbar-fixed(data-page="share")
  .navbar
    .navbar-inner
      .left
        a.open-panel.link.icon-only(href="#")
          i.icon.icon-bars
      .center.sliding Share
  .page-content
    .content-block
        .content-block-inner
            .logo
    .content-block-title
        | Share Dialogue Daily to your friends by using
    .content-block
        .content-block-inner
            .sns-buttons-row.row
                .chip#chip1.btn-facebook(data-id='1')
                    .chip-media
                        img(src="img/facebook.png")
                    .chip-label Facebook
                .chip#chip2.btn-google-plus(data-id='2')
                    .chip-media
                        img(src="img/google-plus.png")
                    .chip-label Google Plus
                .chip#chip3.btn-twitter(data-id='3')
                    .chip-media
                        img(src="img/twitter.png")
                    .chip-label Twitter
            .sns-buttons-row.row
                .chip#chip4.btn-linkedin(data-id='4')
                    .chip-media
                        img(src="img/linkedin.png")
                    .chip-label LinkedIn
                .chip#chip5.btn-instagram(data-id='5')
                    .chip-media
                        img(src="img/instagram.png")
                    .chip-label Instagram
                .chip#chip6.btn-pinterest(data-id='6')
                    .chip-media
                        img(src="img/pinterest.png")
                    .chip-label Pinterest