.page.page-on-center.cached.share-letter-page.navbar-fixed(data-page="share-letter")
	.navbar
		.navbar-inner
			.center.sliding Dialogue
	.page-content
		.content-block.view-block
			.content-block-inner
				.card
					.card-header
						span#totaltime
							| Timer:
						span#lefttime
							| Left time: 5 mins
					.card-header
						span#todayquestion
					.card-content
						.card-content-inner
							.buttons-row
								a.button.button-fill.btn-mine(href='#') My Letter
								a.button.button-fill.btn-spouse.color-brown(href='#') Spouse's
							span#lettertext
				.row.share-letter-buttons
					a.button.button-raised.button-fill.color-blue.btn-share(href='#') Share
					a.button.button-raised.button-fill.color-orange.btn-reset(href='#') Reset
					a.button.button-raised.button-fill.color-blue.btn-done(href='#') Done
