<!-- System Email Page -->
.page.page-on-center.cached.system-email-page.navbar-fixed(data-page="system-email")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center Email Wordings
      .right
        a(href="#").link.icon-only.btn-save-words
          i.material-icons check
  .page-content
    .content-block-title Appointment Wording
    .list-block
      ul
        li
          .item-content
            .item-media
              i.material-icons message
            .item-inner
              .item-title.floating-label Write here for Appointment...
              .item-input.item-input-field
                textarea#appointment.resizable
    .content-block-title Done Wording
    .list-block
      ul
        li
          .item-content
            .item-media
              i.material-icons message
            .item-inner
              .item-title.floating-label Write here for Done...
              .item-input.item-input-field
                textarea#done.resizable
    .content-block-title Share Wording
    .list-block
      ul
        li
          .item-content
            .item-media
              i.material-icons message
            .item-inner
              .item-title.floating-label Write here for Share...
              .item-input.item-input-field
                textarea#share.resizable