<!-- Timer Defaults Page -->
.page.page-on-center.cached.timer-defaults-page.navbar-fixed(data-page="timer-defaults")
  .navbar
    .navbar-inner
      .left
        a(href="#").link.icon-only.back
          i.material-icons arrow_back
      .center Timer Defaults
      .right
        a(href="#").link.icon-only.btn-save-timer
          i.material-icons check
  .page-content
    .content-block-title Set time for Timer
    .content-block
      .row
        label.setTime 20 Minutes
        input#timerAmount(type='text', readonly='', value='20 minutes')
    .content-block-title Set time for Alarms
    .content-block
      .row
        .alarm-cards
          .card.alarm.alarm1
            .card-header
              span.alarmtime 10 Minutes
              label.label-switch
                input.alarmactive(type='checkbox')
                .checkbox
            .card-header
              a.button.alarmring(href='#', data-id="1") Play
              a.button.alarmedit( href='#', data-id="1") Edit
          .card.alarm.alarm2
            .card-header
              span.alarmtime 5 Minutes
              label.label-switch
                input.alarmactive(type='checkbox')
                .checkbox
            .card-header
              a.button.alarmring(href='#', data-id="2") Play
              a.button.alarmedit( href='#', data-id="2") Edit
          .card.alarm.alarm3
            .card-header
              span.alarmtime 60 Seconds
              label.label-switch
                input.alarmactive(type='checkbox')
                .checkbox
            .card-header
              a.button.alarmring(href='#', data-id="3") Play
              a.button.alarmedit( href='#', data-id="3") Edit