.page.page-on-center.cached.view-question-page.navbar-fixed(data-page="view-question")
	.navbar
		.navbar-inner
			.center.sliding Choose Emotion Category
			.right
				a(href="#").link.icon-only.btn-reference
					i.material-icons library_books
	a.floating-button.color-pink.btn-timer(href='#')
		span#lefttime
			| Timer 03:08
	.page-content
		.content-block.steps-block
			.row.steps-chips
				.chip.chip-step1.selected(data-id='1')
					.chip-media.bg-blue 1
				.chip.chip-step2(data-id='2')
					.chip-media.bg-gray 2
				.chip.chip-step3(data-id='3')
					.chip-media.bg-gray 3
		.content-block.view-block
			.content-block-inner
				.tabs-animated-wrap
					.tabs
						#view-question-step1.tab.active
							span#todayquestion a
							.row.mood-icons
								.col-50
									i.material-icons mood
								.col-50
									i.material-icons mood_bad
							.buttons-row
								a.button.button-big.button-fill.button-raised.color-green.btn-positive(href='#') Positive
								a.button.button-big.button-fill.button-raised.color-pink.btn-negative(href='#') Negative
						#view-question-step2.tab
							.list-block.feelings-list
								ul.parent-list
									li.accordion-item
										a.item-content.item-link(href='#')
											.item-inner
												.item-title Open
										.accordion-item-content
											.content-block
												p Item 1 content. Lorem ipsum dolor sit amet...
						#view-question-step3.tab
							.timer-left
								.card.writing-card
									.card-header
										span#todayquestion a
									.card-content
										.card-content-inner
											.list-block
												ul
													li.align-top
														.item-content
															.item-inner
																.item-input
																	textarea.resizable#lettertext
			.row.step-buttons
				a.button.button-raised.button-fill.color-blue.btn-prev-step(href='#') Prev
				a.button.button-raised.button-fill.color-blue.btn-next-step(href='#') Next
			.row.write-question-buttons
				a.button.button-raised.button-fill.color-blue.btn-write(href='#') Write
				a.button.button-raised.button-fill.color-orange.btn-reset(href='#') Redo
				a.button.button-raised.button-fill.color-green.btn-backup(href='#') Save
				a.button.button-raised.button-fill.color-blue.btn-done(href='#') Done
