.panel.panel-left {
  background: transparent url("../img/background.png") no-repeat scroll center center / cover;
}
.menu-list.list-block {
  display: table;
  font-size: 4vw;
  height: 100%;
  margin: 0 auto;
  position: relative;
  color: white;
}
.menu-list.list-block ul {
  display: table-cell;
  vertical-align: middle;
}
.menu-list.list-block ul .item-link {
  display: block;
  position: relative;
}
.menu-list.list-block ul .item-link .item-content {
  background-image: url("../img/menu-item-line-with-dot.png");
}
.menu-list.list-block ul .item-link:hover,
.menu-list.list-block ul .item-link.active {
  color: #2196f3;
}
.menu-list.list-block ul .item-link:hover .item-content,
.menu-list.list-block ul .item-link.active .item-content {
  background-image: url("../img/menu-item-line-hover.png");
}
.menu-list.list-block ul .item-content {
  min-height: auto;
  padding: 0 32px 0 12px;
  position: relative;
  background: transparent url("../img/menu-item-line.png") no-repeat center left;
  background-size: 12px auto;
}
.menu-list.list-block ul .item-content .item-inner {
  padding: 0 0 0 20px;
  background: none;
  line-height: 8.3vh;
  min-height: auto;
}
.menu-list.list-block ul .item-content .item-inner::after {
  display: none;
}
.menu-list.list-block ul:before,
.menu-list.list-block ul:after {
  display: none;
}
.menu-list.list-block ul li:first-child:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 12px;
  height: 10vh;
  margin-top: -10vh;
  background: transparent url("../img/menu-before-line.png") no-repeat center left;
  background-size: 12px 100%;
}
.menu-list.list-block ul li:last-child:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 12px;
  height: 10vh;
  margin-bottom: -10vh;
  background: transparent url("../img/menu-after-line.png") no-repeat center left;
  background-size: 12px 100%;
}
.is-logged-in {
  display: none !important;
}
body.logged-in .is-logged-in {
  display: block !important;
}
body.logged-in .is-logged-out {
  display: none !important;
}
.navbar .navbar-inner .left {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}
.navbar .navbar-inner .center {
  display: block;
  padding: 0 50px;
  font-family: 'Calibri-Regular';
  font-size: 20px;
  margin: 0 auto;
  /*			text-transform: uppercase;*/
}
.navbar .navbar-inner .right {
  position: absolute;
  right: 0;
  top: 0;
}
.navbar .navbar-inner i.icon.icon-bars,
.navbar .navbar-inner i.icon.icon-bars:before,
.navbar .navbar-inner i.icon.icon-bars:after {
  background: #fff;
  height: 3px;
  position: relative;
  width: 16px;
}
.navbar .navbar-inner i.icon.icon-bars:before {
  content: "";
  display: block;
  position: absolute;
  top: -6px;
}
.navbar .navbar-inner i.icon.icon-bars:after {
  bottom: -6px;
  content: "";
  display: block;
  position: absolute;
}
.subnavbar {
  background-color: #3b79a7;
}
.subnavbar .left {
  left: 0;
  position: absolute;
  top: 0;
  z-index: 999;
}
.subnavbar .center {
  display: block;
  font-size: 18px;
  margin: 0 auto;
}
.subnavbar .center:first-child {
  margin-left: 0;
}
.subnavbar .right {
  position: absolute;
  right: 0;
  top: 0;
}
.tabbar {
  /*background: #fff;*/
  height: 37px;
}
.tabbar a.tab-link .ripple-wave {
  background-color: #ddd;
}
.tabbar .tab-link-highlight {
  height: 4px;
}
.tabbar.ios-style {
  height: 48px;
}
.tabbar.ios-style .toolbar-inner {
  left: 10px;
  top: 5px;
  right: 10px;
  bottom: 5px;
  width: auto;
  height: auto;
  border: 1px solid #54728c;
  border-radius: 7px;
}
.tabbar.ios-style .toolbar-inner a.tab-link {
  text-transform: none;
  border-left: 1px solid #54728c;
}
.tabbar.ios-style .toolbar-inner a.tab-link:first-child {
  border-left: none;
}
.tabbar.ios-style .toolbar-inner a.tab-link.active {
  color: #fff;
}
.tabbar.ios-style .toolbar-inner .tab-link-highlight {
  display: none;
}
.navbar-fixed .toolbar-fixed .page-content {
  padding-top: 93px;
}
.navbar-fixed .toolbar-fixed .toolbar.ios-style + .tabs-animated-wrap .page-content {
  padding-top: 108px;
}
.popup-overlay.modal-overlay-visible {
  z-index: 3000 !important;
}
.clear-fix {
  clear: both;
}
.login-page {
  color: #fff !important;
}
.login-page .page-content {
  overflow-x: hidden;
  background: transparent url("../img/login.png") no-repeat scroll center top / cover;
  font-size: 4.8vw !important;
  /*.logo-sec {
			background: transparent url("../img/logo.png") no-repeat scroll center center / cover;
			width: 40vw;
			height: 40vw;
			margin: 10% auto 0px;
			margin-top: 10%;
		}*/
}
.login-page .page-content form {
  margin-left: 10.0vw;
  margin-right: 10.0vw;
  margin-top: 85vw;
}
.login-page .page-content form .userinfo {
  margin-bottom: 0;
}
.login-page .page-content form .userinfo ul li {
  font-size: 16px !important;
  padding-left: 0px !important;
}
.login-page .page-content form .userinfo ul li input {
  margin: 8px 0;
  font-size: 16px !important;
  color: #fff !important;
}
.login-page .page-content form .userinfo ul li input::-webkit-input-placeholder {
  color: #ddd;
}
.login-page .page-content form .userinfo ul li input:-moz-placeholder {
  /* Firefox 18- */
  color: #ddd;
}
.login-page .page-content form .userinfo ul li input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd;
}
.login-page .page-content form .userinfo ul li input:-ms-input-placeholder {
  color: #ddd;
}
.login-page .page-content form .userinfo ul li span.item-remember {
  font-size: 3.7vw !important;
  color: #7ea4d0 !important;
  margin-left: 10vw !important;
}
.login-page .page-content form .userinfo ul li span.item-forgot {
  font-size: 3.7vw !important;
}
.login-page .page-content form .userinfo ul li .remember {
  flex-shrink: 10 !important;
  width: 0px !important;
}
.login-page .page-content form .userinfo .info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}
.login-page .page-content form .userinfo .info i {
  margin-right: 4px;
}
.login-page .page-content form .userinfo .rememberforgot {
  margin-top: 8vw !important;
}
.login-page .page-content form .userinfo .label-switch {
  top: -1vw;
}
.login-page .page-content form .userinfo .label-switch .checkbox {
  width: 13vw;
  height: 8vw;
}
.login-page .page-content form .userinfo .label-switch .checkbox::after {
  width: 7vw;
  height: 7vw;
  top: 0.45vw;
  left: 0.4vw;
}
.login-page .page-content form .userinfo .label-switch input[type="checkbox"]:checked + .checkbox::after {
  transform: translateX(5vw);
  background: white none repeat scroll 0% 0%;
}
.login-page .page-content form .userinfo .label-switch input[type="checkbox"]:checked + .checkbox {
  background: #4ea6e6 none repeat scroll 0% 0%;
}
.login-page .page-content form .userinfo .item-submit-button {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.login-page .page-content form .userinfo .item-submit-button .submit-button {
  font-size: 17px;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
}
.login-page .page-content form .userinfo .item-separate-line {
  text-align: center;
}
.login-page .page-content form .userinfo .item-separate-line span {
  margin-top: 10px;
}
.login-page .page-content form .userinfo .item-separate-line span.left {
  width: 25%;
  display: block;
  float: left;
  border-bottom: 1px solid;
}
.login-page .page-content form .userinfo .item-separate-line span.right {
  width: 25%;
  display: block;
  float: right;
  border-bottom: 1px solid;
}
.login-page .page-content form .userinfo .item-submit-sns {
  margin: 10px auto;
}
.login-page .page-content form .userinfo .item-submit-sns .item-link {
  border: solid 1px;
  font-size: 17px;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
}
.login-page .page-content form .userinfo .item-submit-sns .item-link.facebook-button {
  background: #4867aa;
  width: 30%;
  float: left;
}
.login-page .page-content form .userinfo .item-submit-sns .item-link.google-button {
  background: #de5145;
  width: 30%;
  float: right;
}
.login-page .page-content form .userinfo .item-goto-button {
  text-align: center;
}
.login-page .page-content form .userinfo .item-goto-button a.goto-button {
  color: #2196f3;
  text-align: center;
  font-size: 17px;
  border-radius: 50px;
  font-weight: bold;
}
.recover-page {
  color: #fff !important;
}
.recover-page .page-content {
  overflow-x: hidden;
  background: transparent url("../img/login.png") no-repeat scroll center top / cover;
  font-size: 4.8vw !important;
}
.recover-page .page-content form {
  margin-left: 10.0vw;
  margin-right: 10.0vw;
  margin-top: 85vw;
}
.recover-page .page-content form .userinfo {
  margin-bottom: 0;
}
.recover-page .page-content form .userinfo ul li {
  font-size: 16px !important;
  padding-left: 0px !important;
}
.recover-page .page-content form .userinfo ul li input {
  margin: 8px 0;
  font-size: 16px !important;
  color: #fff !important;
}
.recover-page .page-content form .userinfo ul li input::-webkit-input-placeholder {
  color: #ddd;
}
.recover-page .page-content form .userinfo ul li input:-moz-placeholder {
  /* Firefox 18- */
  color: #ddd;
}
.recover-page .page-content form .userinfo ul li input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd;
}
.recover-page .page-content form .userinfo ul li input:-ms-input-placeholder {
  color: #ddd;
}
.recover-page .page-content form .userinfo .info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}
.recover-page .page-content form .userinfo .info i {
  margin-right: 4px;
}
.recover-page .page-content form .userinfo .item-submit-button {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.recover-page .page-content form .userinfo .item-submit-button .submit-button {
  font-size: 17px;
  text-align: center;
  border-radius: 50px;
  font-weight: bold;
}
.recover-page .page-content form#recover_form .item-back-button {
  text-align: center;
}
.recover-page .page-content form#recover_form .item-back-button a.btn-back {
  color: white;
  text-align: center;
  font-size: 17px;
  border-radius: 50px;
}
.signup-page {
  color: #fff !important;
}
.signup-page .page-content {
  overflow-x: hidden;
  background: transparent url("../img/login.png") no-repeat scroll center top / cover;
  font-size: 4.8vw !important;
}
.signup-page .page-content form {
  margin-left: 10.0vw;
  margin-right: 10.0vw;
  margin-top: 70vw;
}
.signup-page .page-content form .userinfo {
  margin-bottom: 0;
}
.signup-page .page-content form .userinfo ul li {
  font-size: 16px !important;
  padding-left: 0px !important;
}
.signup-page .page-content form .userinfo ul li input {
  margin: 8px 0;
  font-size: 16px !important;
  color: #fff !important;
}
.signup-page .page-content form .userinfo ul li input::-webkit-input-placeholder {
  color: #ddd;
}
.signup-page .page-content form .userinfo ul li input:-moz-placeholder {
  /* Firefox 18- */
  color: #ddd;
}
.signup-page .page-content form .userinfo ul li input::-moz-placeholder {
  /* Firefox 19+ */
  color: #ddd;
}
.signup-page .page-content form .userinfo ul li input:-ms-input-placeholder {
  color: #ddd;
}
.signup-page .page-content form .userinfo ul li span.item-remember {
  font-size: 3.7vw !important;
  color: #7ea4d0 !important;
  margin-left: 10vw !important;
}
.signup-page .page-content form .userinfo ul li span.item-forgot {
  font-size: 3.7vw !important;
}
.signup-page .page-content form .userinfo ul li .remember {
  flex-shrink: 10 !important;
  width: 0px !important;
}
.signup-page .page-content form .userinfo .info {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15) !important;
}
.signup-page .page-content form .userinfo .info i {
  margin-right: 4px;
}
.signup-page .page-content form .userinfo .item-submit-button {
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.signup-page .page-content form .userinfo .item-submit-button .submit-button {
  font-size: 17px;
  text-align: center;
  background: rgba(196, 247, 255, 0.35);
  border-radius: 50px;
  font-weight: bold;
}
.signup-page .page-content form .userinfo .item-separate-line {
  text-align: center;
}
.signup-page .page-content form .userinfo .item-separate-line span {
  margin-top: 10px;
}
.signup-page .page-content form .userinfo .item-separate-line span.left {
  width: 25%;
  display: block;
  float: left;
  border-bottom: 1px solid;
}
.signup-page .page-content form .userinfo .item-separate-line span.right {
  width: 25%;
  display: block;
  float: right;
  border-bottom: 1px solid;
}
.signup-page .page-content form .userinfo .item-goto-button {
  text-align: center;
}
.signup-page .page-content form .userinfo .item-goto-button a.goto-button {
  text-align: center;
  font-size: 17px;
}
.signup-page .page-content p.desc {
  margin: 0px;
  font-size: 16px;
  line-height: 48px;
  vertical-align: center;
}
.page {
  background-image: url(../img/background.png) !important;
  background-size: cover;
  background-repeat: no-repeat;
}
.page .page-content .content-block-title {
  color: white;
}
.home-page .page-content {
  padding-top: 56px !important;
  padding-left: 6vw;
  padding-right: 6vw;
}
.home-page .page-content .content-block {
  padding: 0px 0px;
}
.home-page .page-content .content-block .card {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
.home-page .page-content .content-block .card .card-content .card-content-inner .list-block.media-list ul li.item-content .item-inner:after {
  display: none;
}
.home-page .page-content .content-block .card .card-content .card-content-inner .list-block.media-list.content.home-page .page-content .content-block .card .card-content .card-content-inner .list-block.media-list:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  right: auto;
  top: auto;
  height: 1px;
  width: 100%;
  background-color: rgba(225, 225, 225, 0.32);
  display: block;
  z-index: 15;
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
}
.home-page .page-content .content-block .card.ops-buttons {
  background: none;
  box-shadow: none;
}
.home-page .page-content .content-block .card.ops-buttons .btn-share-letter {
  display: none;
}
.dialogues-page .page-content .content-block {
  margin-top: 16px !important;
  color: white;
}
.dialogues-page .page-content .content-block:after,
.dialogues-page .page-content .content-block:before {
  display: none;
}
.dialogues-page .page-content .content-block #calendar-history {
  visibility: hidden;
}
.dialogues-page .page-content .content-block .card {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
.dialogues-page .page-content .content-block .btn-calendar {
  color: white;
}
.settings-page {
  color: white;
}
.settings-page .content-block-title {
  color: white;
}
.settings-page .list-block {
  margin-top: 8px;
  background-color: rgba(255, 255, 255, 0.3);
}
.settings-page .list-block ul li.item-link {
  font-family: 'Calibri-Regular';
}
.settings-page .list-block ul li.item-link .item-inner:after {
  display: none;
}
.create-question-page .nav-bar .right .btn-save-question {
  visibility: hidden;
}
.create-question-page .page-content .content-block.steps-block {
  margin-bottom: 0px;
}
.create-question-page .page-content .content-block.categories-block {
  margin-top: 0px;
}
.create-question-page .page-content .content-block.categories-block .content-block-inner {
  padding-bottom: 0px;
}
.create-question-page .page-content .content-block .row.steps-chips .chip {
  padding: 0px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
}
.create-question-page .page-content .content-block .row.steps-chips .chip .chip-media {
  margin: 0 auto;
  height: 32px;
  width: 32px;
}
.create-question-page .page-content .content-block .row.steps-chips .chip.selected .chip-media {
  border: solid 4px;
}
.create-question-page .page-content .content-block .row.step-buttons {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
.create-question-page .page-content .content-block .content-block-inner:before,
.create-question-page .page-content .content-block .content-block-inner:after {
  display: none;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab .infinite-scroll-preloader {
  margin-top: -20px;
  margin-bottom: 10px;
  text-align: center;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab .infinite-scroll-preloader .preloader {
  width: 34px;
  height: 34px;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab .list-block {
  margin: 5px 0 30px;
  overflow-y: scroll;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab .list-block ul:before,
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab .list-block ul:after {
  display: none;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab .list-block ul li label .item-inner {
  color: white;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab .list-block ul li label .item-inner:after {
  display: none;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab .list-block ul li label .item-inner .item-title {
  white-space: initial;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#create-question-step3 .content-block-title {
  margin-top: 0px;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#create-question-step3 .list-block.media-list ul li.item-content {
  color: white;
}
.create-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#create-question-step3 .list-block.media-list ul li.item-content .item-inner:after {
  display: none;
}
.view-question-page .btn-timer {
  top: 150px;
  width: 100px;
  height: 40px;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  background: #2196f3;
  color: white;
  margin-right: 2vw;
}
.view-question-page .page-content {
  overflow: hidden;
}
.view-question-page .page-content .content-block {
  color: white;
}
.view-question-page .page-content .content-block.steps-block {
  margin-bottom: 0px;
}
.view-question-page .page-content .content-block.view-block {
  margin-top: 0px;
}
.view-question-page .page-content .content-block .row.steps-chips .chip {
  padding: 0px;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
}
.view-question-page .page-content .content-block .row.steps-chips .chip .chip-media {
  margin: 0 auto;
  height: 32px;
  width: 32px;
}
.view-question-page .page-content .content-block .row.steps-chips .chip.selected .chip-media {
  border: solid 4px;
}
.view-question-page .page-content .content-block .content-block-inner:before,
.view-question-page .page-content .content-block .content-block-inner:after {
  display: none;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step1 .row.mood-icons {
  text-align: center;
  margin: 32px 0;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step1 .row.mood-icons .col-50 i {
  font-size: 25vw;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step2 .list-block.feelings-list {
  margin: 5px 0 30px;
  overflow-y: scroll;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step2 .list-block.feelings-list ul:before,
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step2 .list-block.feelings-list ul:after {
  display: none;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step2 .list-block.feelings-list ul li.list-group-title {
  position: relative !important;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step2 .list-block.feelings-list ul li .item-inner {
  color: white;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step2 .list-block.feelings-list ul li .item-inner:after {
  display: none;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step3 .card {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step3 .card .list-block {
  margin-bottom: 0px;
  margin-top: 0px;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step3 .card .list-block ul:before {
  display: none;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step3 .card .list-block ul li .item-content {
  color: white;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step3 .card .list-block ul li .item-content .item-inner .item-title {
  color: white;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step3 .card .list-block ul li .item-content .item-inner .item-input {
  color: white;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step3 .card .list-block ul li .item-content .item-inner .item-input textarea {
  color: white;
  background: #2196f3;
  max-height: 200px;
  overflow-y: scroll;
}
.view-question-page .page-content .content-block .content-block-inner .tabs-animated-wrap .tabs .tab#view-question-step3 .card.writing-card {
  margin-top: 50px;
}
.share-letter-page .page-content {
  overflow-y: scroll;
}
.share-letter-page .page-content .content-block {
  color: white;
}
.share-letter-page .page-content .content-block.view-block {
  margin-top: 0px;
}
.share-letter-page .page-content .content-block .content-block-inner:before,
.share-letter-page .page-content .content-block .content-block-inner:after {
  display: none;
}
.share-letter-page .page-content .content-block .content-block-inner .card {
  background: rgba(255, 255, 255, 0.3);
  color: white;
}
.share-letter-page .page-content .content-block .content-block-inner .card span#lettertext {
  display: flex;
  max-height: 250px;
  height: 250px;
  overflow-y: scroll;
  word-break: break-word;
  background: rgba(33, 150, 243, 0.68);
}
.share-letter-page .page-content .content-block .content-block-inner .card .btn-mine {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.share-letter-page .page-content .content-block .content-block-inner .card .btn-spouse {
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
.contact-info-page .page-content {
  color: white;
}
.contact-info-page .page-content .content-block-title {
  color: white;
}
.contact-info-page .page-content .list-block {
  background-color: rgba(225, 230, 234, 0);
}
.contact-info-page .page-content .list-block ul li .item-content {
  color: white;
}
.contact-info-page .page-content .list-block ul li .item-content .item-inner .item-title {
  color: white;
}
.contact-info-page .page-content .list-block ul li .item-content .item-inner .item-input {
  color: white;
}
.contact-info-page .page-content .list-block ul li .item-content .item-inner .item-input input {
  color: white;
}
.contact-info-page .page-content .list-block ul li .item-input-field:after,
.contact-info-page .page-content .list-block ul li .input-field:after {
  background-color: rgba(255, 255, 255, 0.5);
}
.contact-info-page .page-content .list-block ul:before,
.contact-info-page .page-content .list-block ul:after {
  display: none;
}
.timer-defaults-page .page-content {
  color: white;
}
.timer-defaults-page .page-content .content-block-title {
  color: white;
  font-size: 4.5vw;
}
.timer-defaults-page .page-content .content-block:before,
.timer-defaults-page .page-content .content-block:after {
  display: none !important;
}
.timer-defaults-page .page-content .content-block .row .setTime {
  font-size: 30px;
  color: #1bfdb3;
  margin: 0 auto;
  width: 50%;
  background: none;
  text-align: center;
}
.timer-defaults-page .page-content .content-block .row #timerAmount {
  visibility: hidden;
}
.timer-defaults-page .page-content .content-block .alarm-cards {
  width: 100%;
}
.timer-defaults-page .page-content .content-block .alarm-cards .card.alarm .card-header {
  color: gray;
}
.edit-alarm-page .page-content .content-block .content-block-inner:before,
.edit-alarm-page .page-content .content-block .content-block-inner:after {
  display: none;
}
.edit-alarm-page .page-content .content-block .content-block-inner .row .setTime {
  font-size: 30px;
  color: #1bfdb3;
  margin: 0 auto;
  width: 50%;
  background: none;
  border: none;
  text-align: center;
}
.edit-alarm-page .page-content .content-block .content-block-inner .row #alarmAmount {
  visibility: hidden;
}
.appointment-defaults-page .page-content .content-block-title {
  color: white;
}
.appointment-defaults-page .page-content .content-block-title .label-switch {
  height: 20px;
}
.appointment-defaults-page .page-content .content-block:before,
.appointment-defaults-page .page-content .content-block:after {
  display: none;
}
.appointment-defaults-page .page-content .content-block .row .week-chips {
  margin: 0 auto;
}
.appointment-defaults-page .page-content .content-block .row .week-chips .chip {
  padding: 0px;
  height: 42px;
  width: 42px;
  line-height: 42px;
  background: none;
}
.appointment-defaults-page .page-content .content-block .row .week-chips .chip .chip-media {
  margin: 0 auto;
  height: 38px;
  width: 38px;
}
.appointment-defaults-page .page-content .content-block .row .week-chips .chip.selected .chip-media {
  border: solid 2px;
}
.appointment-defaults-page .page-content .content-block .row.clock-current-section .row .current-time-label {
  text-align: center;
  font-size: 7vw;
  color: white;
}
.appointment-defaults-page .page-content .content-block .row.clock-bottom-section .button {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  font-size: 6vw;
}
.appointment-defaults-page .page-content .content-block .row.clock-upper-section .button {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.25);
  font-size: 6vw;
}
.system-email-page .page-content .content-block-title:before,
.system-email-page .page-content .content-block-title:after {
  display: none;
}
.system-email-page .page-content .list-block {
  margin-bottom: 0px;
  margin-top: 0px;
}
.system-email-page .page-content .list-block ul:before {
  display: none;
}
.system-email-page .page-content .list-block ul li .item-content {
  color: white;
}
.system-email-page .page-content .list-block ul li .item-content .item-media {
  align-self: flex-start;
}
.system-email-page .page-content .list-block ul li .item-content .item-inner .item-title {
  color: white;
}
.system-email-page .page-content .list-block ul li .item-content .item-inner .item-input {
  color: white;
}
.system-email-page .page-content .list-block ul li .item-content .item-inner .item-input textarea {
  color: white;
}
.system-email-page .page-content .list-block ul li .item-input-field:after,
.system-email-page .page-content .list-block ul li .input-field:after {
  background-color: rgba(255, 255, 255, 0.5);
}
.system-email-page .page-content:before,
.system-email-page .page-content:after {
  display: none;
}
.about-us-page .page-content .content-block {
  margin-top: 0px;
  margin-bottom: 0px;
}
.about-us-page .page-content .content-block .content-block-inner {
  text-align: center;
  color: white;
}
.about-us-page .page-content .content-block .content-block-inner:after,
.about-us-page .page-content .content-block .content-block-inner:before {
  display: none;
}
.about-us-page .page-content .content-block .content-block-inner .logo {
  background: transparent url("../img/logo.png") no-repeat scroll center center / cover;
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
}
.about-us-page .page-content .content-block .content-block-inner .description {
  text-align: left;
}
.buy-now-page .page-content .content-block {
  margin-top: 0px;
  margin-bottom: 0px;
}
.buy-now-page .page-content .content-block .content-block-inner {
  text-align: center;
  color: white;
}
.buy-now-page .page-content .content-block .content-block-inner:after,
.buy-now-page .page-content .content-block .content-block-inner:before {
  display: none;
}
.buy-now-page .page-content .content-block .content-block-inner .logo {
  background: transparent url("../img/logo.png") no-repeat scroll center center / cover;
  width: 40vw;
  height: 40vw;
  margin: 0 auto;
}
.buy-now-page .page-content .content-block .content-block-inner .description {
  text-align: left;
}
.dialogue-helper-page .card {
  color: white;
  background: rgba(133, 178, 195, 0.38);
}
.dialogue-helper-page .card .video-frame {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.dialogue-helper-page .card .video-frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 89%;
}
.how-to-page .page-content .card,
.glossary-page .page-content .card,
.PIM-page .page-content .card,
.procedure-page .page-content .card,
.ground-rules-page .page-content .card {
  color: white;
  background: rgba(133, 178, 195, 0.38);
}
.glossary-page .card.words .content-block-title {
  margin-top: 0px;
  margin-bottom: 0px;
}
.glossary-page .card.words .content-block {
  margin-left: 16px;
}
.ground-rules-page .page-content {
  color: white;
}
.ground-rules-page .page-content span {
  padding-left: 15px;
  padding-right: 15px;
  display: block;
}
.share-page .page-content .content-block .content-block-inner {
  text-align: center;
  color: white;
}
.share-page .page-content .content-block .content-block-inner .logo {
  background-image: url('../img/logo.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
  background-position: center;
}
.share-page .page-content .content-block .content-block-inner .sns-buttons-row .chip {
  height: 40px;
  line-height: 40px;
}
.share-page .page-content .content-block .content-block-inner .sns-buttons-row .chip .chip-label {
  color: white;
}
.reset-password-page {
  color: #fff !important;
}
.reset-password-page .page-content {
  color: white;
}
.reset-password-page .page-content .userinfo {
  background-color: rgba(225, 230, 234, 0);
}
.reset-password-page .page-content .userinfo ul:before,
.reset-password-page .page-content .userinfo ul:after {
  display: none;
}
.reset-password-page .page-content .userinfo ul li {
  font-size: 16px !important;
}
.reset-password-page .page-content .userinfo ul li .item-content {
  color: white;
}
.reset-password-page .page-content .userinfo ul li .item-content .item-inner .item-title {
  color: white;
}
.reset-password-page .page-content .userinfo ul li .item-content .item-inner .item-input {
  color: white;
}
.reset-password-page .page-content .userinfo ul li .item-content .item-inner .item-input input {
  color: white;
}
.reset-password-page .page-content .userinfo ul li .item-input-field:after,
.reset-password-page .page-content .userinfo ul li .input-field:after {
  background-color: rgba(255, 255, 255, 0.5);
}
.reset-password-page .page-content .userinfo ul li .change-password {
  margin: 32px;
}
body {
  font-family: 'Calibri-Regular';
}
